
.taskList{ 
    padding: 8px;
    background-color: #5797b2;
    border-radius:  2px;
}

.taskList .title{
    padding: 4px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
}

.taskList .content {
    padding: 10px 4px;
} 

.taskList .btn{
    margin-top: 8px;
    padding: 8px;
    display: flex;
    justify-content: center;
    border-radius: 3px;   
}

.taskList .content .empty-list{
    text-align: center;
    border: 1px dashed white;
    border-radius: 4px;
    padding: 4px;
}